DATABASE_URL=postgresql+asyncpg://secret:secret@db:5432/secret_santa
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
SMTP_HOST=smtp
SMTP_PORT=465
SMTP_USERNAME=user
SMTP_PASSWORD=password
SMTP_SENDER=Secret Santa <no-reply@santa.local>
JWT_SECRET=supersecretjwt
PUBLIC_BASE_URL=https://santa.example.com
