DATABASE_URL=postgresql+asyncpg://secret:secret@db:5432/secret_santa
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
MAILGUN_API_BASE_URL=https://api.mailgun.net/v3
MAILGUN_DOMAIN=mg.example.com
MAILGUN_API_KEY=key-xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MAILGUN_SENDER=Secret Santa <no-reply@santa.local>
JWT_SECRET=supersecretjwt
PUBLIC_BASE_URL=https://santa.example.com
